.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* Adjust the value as per your requirement */
}

.btn {
  margin-right: 20px;
  /* Adjust the value as per your requirement */
}

.btn:last-child {
  margin-right: 0;
  /* Remove the right margin from the last button */
}
