<div class="main">
  <section class="changepassword">
    <div class="changepassword-lt">
      <app-nav-bar *ngIf="showSideMenu"></app-nav-bar>
    </div>
    
    <div class="changepassword-rt">
      
      <div class="changepass-box">
        <button class="btn btn-xl btn-primary" (click)="showSideMenu = !showSideMenu">
          Side Menu
        </button>
        <br><br>
        <form [formGroup]="changepassForm">
          <div class="logo-wrapper">
            <img src="../../../assets/Images/logo.svg" alt="Rishabh Software" />
            <span>Meal Facility</span>
          </div>
          
          <h3 class="changepass-head">Change Password</h3>
          <p class="changepass-text">
            Enter your Details to Change password.
          </p>
          <div class="form-group">
            <div class="input-addon">
              <br>
              <input
                formControlName="old_password"
                class="form-control"
                type="password"
                placeholder="Enter Old Password"
                [(ngModel)]="model.old_pass"
                required
                autofocus
              />
              <div class="icon-after icon-green">
                <i class="icon-check"></i>
              </div>
            </div>
            <div class="input-addon">
              <br>
              <input
                formControlName="new_password"
                class="form-control"
                type="password"
                placeholder="Enter New Password"
                [(ngModel)]="model.new_pass"
                required
              />
              <div class="icon-after icon-green">
                <i class="icon-check"></i>
              </div>
            </div>
            <div class="input-addon">
              <br>
              <input
                formControlName="confirm_password"
                class="form-control"
                type="password"
                placeholder="Confirm your new Password"
                [(ngModel)]="model.confirm_pass"
                required
              />
              <div class="icon-after icon-green">
                <i class="icon-check"></i>
              </div>
            </div>
            
            
          </div>

          <div class="form-group btn-container">
              <br>
            <button
              class="btn btn-xl btn-primary" (click)="changePassword()">
              Change Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
