#hover-dropdown:hover .dropdown-menu {
       display: block;
       opacity: 1;
       visibility: visible;
       top: -270%; /* Adjust this value as needed */
   }

   .dropdown-menu {
       display: none;
       opacity: 0;
       visibility: hidden;
       transition: opacity 0.3s ease;
       position: absolute;
   }

   .dropdown-menu-end {
       top: -100%; /* Adjust this value as needed */
   }